body {
  background: url("https://www.unesourisetmoi.info/net/galeries/hd6/fonds-ecran-hd-gratuits_29.jpg");
  background-size: cover;
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin: 150px;
  margin-right: 37%;
}

input {
  text-align: left;
  width: 700px;
  box-sizing: border-box;
  border: 2px solid Black;
  border-radius: 20px;
  font-size: 30px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 20px 50px 20px 50px;
  margin-right: 15%;
}

 /* .button {
background-color: white;
border: none;
color: Black;
font-size: 20px;
padding: 16px 32px;
text-decoration: none;
margin: 50px 20px;
cursor: pointer;
box-shadow: 3px 3px 3px 3px grey;
margin-left: 15%;
margin-bottom: 40px;

} */

.search-field {
  display: block;
  width: 30%;
  margin: 1em auto 0;
  padding: .5em
  border: 1px solid;
  font-size: 130%;
  color: black;
  margin-left: 400px;
}

.term-list {
  list-style: none inside;
  width: 30%;
  margin-left: 370px;
  text-align: left;
  color: black;
  background: 0;
  box-sizing: border-box;
  /* border: 1px solid #ddd */
}

  li {
    padding: .5em 0;
    border-bottom: 1px solid;
strong {
  color: #444
  /* font-weight: $fw-heavy */
}
}
.hidden {
 display: none
}
